@model AllHousesViewModel

<h2 class="text-center">@ViewBag.Title</h2>
<h2 class="text-center">@ViewBag.FromConfiguration</h2>
<hr />
<form method="get">
    <div>
        <label>Choose Category</label>
        <select name="CategoryId" class="dropdown">
           <option selected value="0">All</option>
            @foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
        </select>
        <label>Search:</label>
        <input name="SearchText" type="text" placeholder="Write your serach here." />
        <select name="SortingType" class="dropdown">
            <option value="Asc">Newer first</option>
            <option value="Desc">Older first</option>
        </select>
    </div>
    <button class="btn btn-success">Search</button>
</form>
<div class="text-center row">
    @foreach (var house in Model.Houses)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" src="@house.ImageUrl" alt="House Image">
            <div class="card-body">
                <h5 class="card-title">@house.Name</h5>
                <p class="card-text">@house.Address</p>
            </div>
            <div class="card-footer">
                @if (house.CurrentUserIsOwner)
                {
                    <a asp-controller="House" asp-action="Edit" asp-route-Id="@house.Id" class="btn btn-primary">
                        Edit
                    </a>
                }
                <a asp-controller="House" asp-action="Details" asp-route-Id="@house.Id" class="btn btn-light">
                    Details
                </a>
                }
            </div>
        </div>
    }
</div>